ul.info li strong.nrs_status_4 {
	font-weight:bold;
	color:#00AF39;
}
ul.info li strong.nrs_status_3 {
	font-weight:bold;
	color:#00D4FF;
}
ul.info li strong.nrs_status_2 {
	font-weight:bold;
	color:#FFB900;
}
ul.info li strong.nrs_status_1 {
	font-weight:bold;
	color:#FF0000;
}
div.nrs-col-1 {
	float: left;
	width: 370px;
}
div.nrs-col-2 {
	float: left;
	width: 506px;
	padding: 0 14px 14px 10px;
}
input.uid {
	width: 67px;
}


input.smaller {
	width: 100px;
}

.search-nrs-btn {
	display:inline;
	float:left;
	margin:0px 12px 0 0;
	padding:0 9px;
	color:#5c5c5c;
	background:#f2f7fa;
	border:1px solid #d1d1d1;
	text-transform: uppercase;
	line-height: 24px;
}

.search-nrs-btn:hover {
	cursor:pointer;
}

.nrs_chart {
	width: 740px; 
	height: 440px;
	margin: 0 0 0 2px;
}

.nrs_slider {
	width: 440px;
	margin: 0 0 0 90px;
}


ul.post-info li a.nrs {
    background: url("img/admin/nrs.gif") no-repeat scroll 100% 3px transparent;
}

#filter_link_mode_5 span.item-icon {
    background: url("img/admin/nrs.gif") no-repeat scroll 0 0 transparent;
}


