ul.info li strong.nrs_status_4 {
	font-weight:bold;
	color:#00AF39;
}
ul.info li strong.nrs_status_3 {
	font-weight:bold;
	color:#00D4FF;
}
ul.info li strong.nrs_status_2 {
	font-weight:bold;
	color:#FFB900;
}
ul.info li strong.nrs_status_1 {
	font-weight:bold;
	color:#FF0000;
}
div.nrs-col-1 {
	float: left;
	width: 370px;
}
div.nrs-col-2 {
	float: left;
	width: 506px;
	padding: 0 14px 14px 10px;
}
input.uid {
	width: 67px;
}

.search-nrs-btn {
	display:inline;
	float:left;
	margin:0px 12px 0 0;
	padding:0 9px;
	color:#5c5c5c;
	background:#f2f7fa;
	border:1px solid #d1d1d1;
	text-transform: uppercase;
	line-height: 24px;
}

.search-nrs-btn:hover {
	cursor:pointer;
}
